# Qt Creator
.cpp.o
.cc.o
.moc
*.obj
*.pch
*.pdb
*.exe
*.dll
*.a
*.lib
*.so
*.dylib

# CMake
build-*/
cmake-build-*/
*.cmake
!cmake/modules/*.cmake

# Config
*.ini
*.cfg
*.json

# IDE
.vscode/
.idea/
